#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.cell-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cell {
  width: 40px;
  height: 20px;
  border: 1px solid lightgray;
}

.cell.on {
  background: green;
}

.cell.off {
}